{% block title %}Vous n'avez pas les accès pour cette page{% endblock %}

{% block body %}

    <div class="container">
        <h1>Interdiction de modifier une annonce qui ne vous appartient pas</h1>
        <p>On a surement du mal vous renseigner ! Retournez donc à l'accueil voir nos dernières missions !</p>
            <a href="{{path('homepage')}}" class="btn btn-primary">Retour à l'accueil</a>
    </div>


{% endblock %}